.h{
  font-size: 50px;
  font-family: "Ultra",serif;
  text-align: center;
  text-shadow: 5px 5px rgba(121,9,26,1);
  line-height: 40px;
}
#draw{
  margin-top: 20px;
  display: block;
  padding-left: 10px;

}
.list-user{
  padding-left:10px;
}

#chatForm{
  width:300px;
}

#messages{
   list-style-type: none;
   margin: 0;
   padding: 0;
  width:300px;
  overflow: hidden scroll;
  height: 500px;
}
#messages li{
    width:300px;
   padding: 5px 10px;
}

#messages li:nth-child(odd){
   background: black;
   color:white;
}

#online{
   list-style-type: none;
   margin: 0;
   padding: 0;
  height: 500px;
}
#online li{
  font-family: sans-serif;
  font-weight:bolder;
  font-size: 30px;
   padding: 5px 10px;
}

#online li:nth-child(odd){
   background: #eef;
}
