.h{
  font-size: 50px;
  font-family: "Ultra",serif;
  text-align: center;
  text-shadow: 5px 5px rgba(121,9,26,1);
  line-height: 40px;
}

#draw{
  margin:10px auto;
  margin-top:30px;
  display: block;
  background-color: white;
  padding: 0;
  border:3px solid black;
}

.g{
  margin-left: 45%;
}
